@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden; 
}
body .MuiOutlinedInput-root{

  height: 40px;
 }
.textfiledBocx .MuiOutlinedInput-root{
 background-color: aliceblue;
 height: 40px;
}

.MuiTableCell-root{
  padding: 12px !important;
}